.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    width: 50%;
    padding-left:5rem;
}

.title {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: #ffffff8c;
}

.left h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    color: #fff;
}

.text {
    font-size: 1.2rem;
    color: #ffffff8c;
}

.btn {
    padding: .8rem 2rem;
    border-radius: 22px;
    margin-top: 1rem;
    border: none;
    background: linear-gradient(180deg, #7c4daa 0%, #6878d7 100%);
    color: #fff;
}

.img1{
    width: 30rem;
}
.skill{
    width: 100%;
    
}

.skillh1 {
    text-align: center;
    font-size: 3rem;
    color: #fff;
}

.skillp {
    text-align: center;
    font-size: 1.2rem;
    color: #ffffff8c;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
    flex-wrap: wrap;
}

.line {
    width:500px; height:100px;  
    border:solid 5px #000;
    border-color:#000 transparent transparent transparent;
    border-radius: 50%/100px 100px 0 0;
      border-style:dashed;
}

.col {
    border-radius: 20px;
    border: 1px solid #364162;
    width: 25rem;
    height: auto;
    padding: 1rem 0;
    margin: 1rem;
}

.col h1 {
    font-size: 2rem;
    color: #fff;
    padding: 0 2rem;
}

.col p {
    font-size: 1rem;
    color: #fff;
    padding: 0 2rem;
    padding-bottom: 1rem;
    color: #ffffff8c;
}

@media only screen and (max-width: 750px) {

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .col{
        width: 100%;
    }
}